@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
header{
    justify-content: center; 
    align-items: center;
    display:flex ;
    background-color: black;
    color: rgba(255, 255, 255, 0.973);
    text-align: center;
    align-content: center;

}.checkbtn {
    color: #ce2f2f;
    display: none;
}
#check{
    display: none;
}
.Container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
.Navigation-Bar{
    display: flex;
    
}
.Navigation-Bar .checkbtn{
    margin-top: 25px;
}
.Navigation-Bar ul{
    display: flex;
}
.Navigation-Bar li{
    display: block;
    padding: 10px;
}
.Navigation-Bar li:hover{
    background-color:#84928f;
    border-radius: 30PX;
}
.Navigation-Bar li:active{
    background-color: #ce2f2f;
}
.Navigation-Bar a{
color: black;
text-decoration: none;

}
.Icon-Bar{
    margin-top: 25px;

  display: flex;  
}
.Icon-Bar ul{
    display: flex;
    margin-top: -10px;

}
.Icon-Bar li{
    display: block;

}
.Icon-Bar img{
 height: 20px;
 width: 20px;
 padding:10px ;

}
.Container2{
    background-image: url("/img1.jpg");
    background-size: cover;
    background-repeat: none;
    height: 80vh;
    position: relative;
    color: rgba(255, 255, 255, 0.973);
    border-radius: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-right: px;
    opacity: 1.8;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.Container2 h2{
    position: absolute;
    bottom: 100px;
    margin: 10px;
    width: 400px;
    opacity: 5.8;

}
.Container2 p{
    position: absolute;
    bottom: 30px;
    margin: 10px;
    width: 400px;
    opacity: 5.8;
    font-size: medium;

}
#explore{
    border-radius: 50px;
    position: absolute;
    right: 40px;
    bottom: 30px;
    padding: 13px 44px  ;
    width: 120px;
    opacity: 5.8;
    text-align: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.973);
}
.Container3{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.Container3 p{
color: #959090;
}
.Container4{
    display: flex;
    justify-content: space-between;
    border-radius:20px ;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
}
.Container4 p{
    font-size: 18px;
}
.Container4 .Box1 img{
   width: 300px;
   height: 200px;
}
.Container4 .Box2 img{
    width: 300px;
    height: 200px;
 }
 .Container4 .Box3 img{
    width: 300px;
    height: 200px;
 }
 .Container4 .Box4 img{
    width: 300px;
    height: 200px;
 }

 .Container4 .Box5 img{
    width: 300px;
    height: 200px;
 }
 .Container4 .Box6 img{
     width: 300px;
     height: 200px;
  }
  .Container4 .Box7 img{
     width: 300px;
     height: 200px;
  }
  .Container4 .Box8 img{
     width: 300px;
     height: 200px;
  }


 
 .Container6{
    border-radius: 30px;
    margin-top: 152px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.Container6 img{
width: 100%;   
 border-radius: 30px;

}
.Container6 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container6 h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50px;
    width: 176px;
    height: 55px;
   
}
.Container6 .see-details{
justify-content: center;
align-items: center;
display: flex;
}
.Container6 p{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
 
.Container7{
    display: flex;
    margin-top: 75px;
    justify-content: space-between;
    border-radius:20px ;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
}
.Container7 .Box1 {
    background-image: url("image 130.png");
    background-size: cover;
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 30px;
    margin-bottom: 15px;
 }
 .Container7 .Box2 {
    background-image: url("image 127.png");
    background-size: cover;
    position: relative;
     width: 300px;
     height: 200px;
     border-radius: 30px;
margin-bottom: 15px;
  }
  .Container7 .Box3 {
     background-image: url("image 126.png");
    background-size: cover;
    position: relative;
     width: 300px;
     height: 200px;
     border-radius: 30px;

  }
  .Container7 .Box4 {
    background-image: url("image 124.png");
    background-size: cover;
    position: relative;
     width: 300px;
     height: 200px;
     border-radius: 30px;

  }
  .Container7  p{
    position: absolute;
    bottom: 10px;
    margin: 10px;
    width: 100px;
    opacity: 5.8;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 50px;

}
.Container7 h2{
    position: absolute;
    bottom: 40px;
    margin: 10px;
    width: 150px;
    opacity: 5.8;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    color: white;

}
.Container7 .Box2 h2{
    right: 170px;
}

.Container7 .Box3 h2{
    right: 150px;
}

.Container7 .Box4 h2{
    right: 180px;
}
.Container8{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
}
.Container8 .Box1 input {
border-radius: 55px;
border: 1px solid black;
padding: 15px 30px;
}
.Container8 .Box1 #submit{
    background-color: black;
    color: white;
}
 .Container8 .Box1 h1{
    font-size: 70px;
 }
 .social-icon p{
    margin-left: 15px;
    margin-right: 15px;
 }

.social-icon img  {
    width: 30px;
    height: 30px;
    margin-right:3px;
    margin-left: 15px;
    margin-right: 15px;

}
.foooter-background{
    background-color: black;
    height: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 44px;
    
}
.foooter-background img {
    width: 10px;
    height: 10px;
    margin-left: 15px ;
    margin-right: 5px;
    

}
.try {
    color: white;
    display: flex;
    margin-top:3px ;
}
.try #pv{
    margin-top:15px ;
 
}
.ph{

    display: flex;
    color: white;
    justify-content: space-between;
    
}
.ph p{
    margin-left:10px ;
    margin-right: 10px;
    size: 16px;
    font: inter;
}


@media(max-width:500px){
    .checkbtn {
        color: #ce2f2f;
        display: block;
    }
    #check{
        display: none;
    }
    .Container{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
    }.Navigation-Bar{
        display: flex;
        
    }
    .Navigation-Bar .checkbtn{
        margin-top: 25px;
    }
    .Navigation-Bar ul{
        flex-direction: column;
    }
    .Navigation-Bar li{
        display: block;
        padding: 10px;
    }
    .Navigation-Bar li:hover{
        background-color:#84928f;
        border-radius: 30PX;
    }
    .Navigation-Bar li:active{
        background-color: #ce2f2f;
    }
    .Navigation-Bar a{
    color: black;
    text-decoration: none;
    
    }
    .Icon-Bar{
        margin-top: 25px;
    
      display: flex;  
    }
    .Icon-Bar ul{
        display: flex;
        margin-top: -10px;
    
    }
    .Icon-Bar li{
        display: block;
    
    }
    .Icon-Bar img{
     height: 20px;
     width: 20px;
     padding:10px ;
    
    }
    .Container2{
        background-image: url("/img1.jpg");
        background-size: cover;
        background-repeat: none;
        height: 80vh;
        position: relative;
        color: rgba(255, 255, 255, 0.973);
        border-radius: 30px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        margin-right: px;
        opacity: 1.8;
        justify-content: center;
        align-content: center;
        align-items: center;
        
    }
    .Container2 h2{
        position: absolute;
        top: 300px;
        margin: 10px;
        width: 400px;
        opacity: 5.8;
        right: -5px;
    
    }
    .Container2 p{
        position: absolute;
        bottom: 80px;
        margin: 10px;
        width: 400px;
        opacity: 1.8;
        font-size: 20px;
        text-align: center;
        right: 40px;
    }
    #explore{
        border-radius: 50px;
        position: absolute;
        right: 160px;
        bottom: 30px;
        padding: 13px 44px  ;
        width: 120px;
        opacity: 5.8;
        text-align: center;
        color: black;
        background-color: rgba(255, 255, 255, 0.973);
    }
    .Container3{
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .Container3 p{
    color: #959090;
    }
    .Container4{
        display: flex;
        justify-content: space-evenly;
        border-radius:20px ;
        margin-left: 15px;
        margin-right: 15px;
        flex-wrap: wrap;
       
    }
    .Container4 p{
        font-size: 18px;
    }
    .Container4 .Box1 img{
       width: 150px;
       height: 100px;
    }
    .Container4 .Box2 img{
        width: 150px;
        height: 100px;
     }
     .Container4 .Box3 img{
        width: 150px;
        height: 100px;
     }
     .Container4 .Box4 img{
        width: 150px;
        height: 100px;
     }
     
    .Container4 .Box5 img{
        width: 150px;
        height: 100px;
     }
     .Container4 .Box5 p{
     }
     .Container4 .Box6 img{
         width: 150px;
         height: 100px;
      }
      .Container4 .Box7 img{
         width: 150px;
         height: 100px;
      }
      .Container4 .Box8 img{
         width: 150px;
         height: 100px;
      }
     .Container6{
        border-radius: 30px;
        margin-top: 152px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .Container6 img{
    width: 100%;   
     border-radius: 30px;
    
    }
    .Container6 h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Container6 h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        border-radius: 50px;
        width: 176px;
        height: 55px;
       
    }
    .Container6 .see-details{
    justify-content: center;
    align-items: center;
    display: flex;
    }
    .Container6 p{
        display: flex;
        justify-content: center;
        text-align: center;
        
    }
     
    .Container7{
        display: flex;
        margin-top: 75px;
        justify-content: space-between;
        border-radius:20px ;
        margin-left: 15px;
        margin-right: 15px;
        flex-wrap: wrap;
    }
    .Container7 .Box1 {
        background-image: url("image 130.png");
        background-size: cover;
        width: 150px;
        height: 200px;
        position: relative;
        border-radius: 30px;
     }
     .Container7 .Box2 {
        background-image: url("image 127.png");
        background-size: cover;
        position: relative;
         width: 150px;
         height: 200px;
         border-radius: 30px;
    
      }
      .Container7 .Box3 {
         background-image: url("image 126.png");
        background-size: cover;
        position: relative;
         width: 150px;
         height: 200px;
         border-radius: 30px;
    
      }
      .Container7 .Box4 {
        background-image: url("image 124.png");
        background-size: cover;
        position: relative;
         width: 150px;
         height: 200px;
         border-radius: 30px;
    
      }
      .Container7  p{
        position: absolute;
        bottom: 10px;
        right: 12px;
        margin: 10px;
        width: 100px;
        opacity: 5.8;
        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        border-radius: 50px;
        align-content: center;
        
    
    }
    .Container7 h2{
        position: absolute;
        bottom: 40px;
        margin: 10px;
        width: 150px;
        opacity: 5.8;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50px;
        color: white;
        font-size: medium;
    right: 50px;
    }
    .Container7 .Box2 h2{
        right: 170px;
    }
    
    .Container7 .Box3 h2{
        right: 150px;
    }
    
    .Container7 .Box4 h2{
        right: 180px;
    }
    .Container8{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        margin-left: 15px;
        margin-right: 15px;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .Container8 .Box1 input {
    border-radius: 55px;
    border: 1px solid black;
    padding: 15px 30px;
    }
    .Container8 .Box1 #submit{
        margin-top: 20px;
        background-color: black;
        color: white;
    }
     .Container8 .Box1 h1{
        font-size: 70px;
     }
     .social-icon p{
        margin-left: 15px;
        margin-right: 15px;
     }
    
    .social-icon img  {
        width: 30px;
        height: 30px;
        margin-right:3px;
        margin-left: 15px;
        margin-right: 15px;
    
    }
    .foooter-background{
        background-color: black;
        height: 40px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-top: 44px;
        
    }
    .foooter-background img {
        width: 10px;
        height: 10px;
        margin-left: 15px ;
        margin-right: 5px;
        
    
    }
    .try {
        color: white;
        display: flex;
        margin-top:3px ;
    }
    .try #pv{
        margin-top:15px ;
     
    }
    .ph{
    
        display: flex;
        color: white;
        justify-content: space-between;
        
    }
    .ph p{
        margin-left:10px ;
        margin-right: 10px;
        size: 16px;
        font: inter;
    }
}